
<div class="card card-body">
  <h3 style='word-spacing:5px; letter-spacing:1px;'>Sorry we can't Accept any further responses from you, as You've already submitted {{limit}} Times.If you think it is a mistake then feel free to drop a mail on <span style='color:blue;'>{{email}}</span>.</h3>

</div>
