
<div class="card card-body">
  <h3 style='word-spacing:5px; letter-spacing:1px;'>Sorry we are not supposed to reveal results to you as this form Belongs to<span style='color:blue;'> someone else</span>.</h3>

</div>
