
<div class="card card-body">
  <h3 style='word-spacing:5px; letter-spacing:1px;'>This form is no longer Accepting any responses.If you think it is a mistake then feel free to drop a mail on <span style='color:blue;'>{{email}}</span>.</h3>

</div>
