  <div class="card card-body mb-2">
    <h4>Event feedback</h4>
    <p>Thank you for participating in our event. We hope you had as much fun attending as we did organizing it.

We want to hear your feedback so we can keep improving our logistics and content. Please fill this quick survey and let us know your thoughts (your answers will be anonymous).</p>
    <a class="btn btn-dark btn-block mb-2" href="/FM/templategallery1">Try</a>

  </div>


<div class="card card-body mb-2">
    <h4>T-Shirt Sign Up</h4>
    <p>Enter your name and size to sign up for a T-Shirt.</p>
    <a class="btn btn-dark btn-block mb-2" href="/FM/templategallery2">Try</a>

  </div>

  <div class="card card-body mb-2">
      <h4>Contact information</h4>
      <p>Enter your details.</p>
      <a class="btn btn-dark btn-block mb-2" href="/FM/templategallery3">Try</a>

    </div>


      <div class="card card-body mb-2">
          <h4>Event registration</h4>
          <p>Event Timing: January 4th-6th, 2016
Event Address: 123 Your Street Your City, ST 12345
Contact us at (123) 456-7890 or no_reply@example.com</p>
          <a class="btn btn-dark btn-block mb-2" href="/FM/templategallery">Try</a>

        </div>
