<div class="card card-body" style=" margin:auto; float:center; width:70%; height:100%; ">
<center>  <h3>Create Your Own Survey</h3></center>
  <form id="AAA" name="one" action="/FM" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" value="Contact information" name="title" type="text" required>
    </div>

    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>Fill up your contact details.</textarea>
    </div>


<div class="form-group">
  <label for="deadline">Deadline:</label>(*In hrs)
  <input value="24" class="form-control" placeholder="Enter Hrs..." name="deadline" type="number" required>
</div>

<div class="form-group">
  <label for="submission">Number of submissions per User</label>
  <input value="1" class="form-control" name="submission" type="number" required="">
</div>



<div class="form-group"><i class="" aria-hidden="true"></i><label class="question"> Question:</label><input class="form-control" name="question" type="text" required value='Name:'>
  <label class="i">Text<input checked type="radio" name="radio0" value="text" class="heya"><span class="checkmark"></span></label>
  <label class="i">Email<input  type="radio" name="radio0" value="email" class="heya"><span class="checkmark"></span></label>
  <label class="i">Number<input  type="radio" name="radio0" value="number" class="heya"><span class="checkmark"></span></label>
</div>






<div class="form-group"><i class="" aria-hidden="true"></i><label class="question"> Question:</label><input class="form-control" name="question" type="text" required value='Email:'>
  <label class="i">Text<input  type="radio" name="radio1" value="text" class="heya"><span class="checkmark"></span></label>
  <label class="i">Email<input checked type="radio" name="radio1" value="email" class="heya"><span class="checkmark"></span></label>
  <label class="i">Number<input type="radio" name="radio1" value="number" class="heya"><span class="checkmark"></span></label>
</div>




<div class="form-group"><i class="" aria-hidden="true"></i><label class="question"> Question:</label><input class="form-control" name="question" value='Address:' type="text" required>
  <label class="i">Text<input checked type="radio" name="radio2" value="text" class="heya"><span class="checkmark"></span></label>
  <label class="i">Email<input type="radio" name="radio2" value="email" class="heya"><span class="checkmark"></span></label>
  <label class="i">Number<input type="radio" name="radio2" value="number" class="heya"><span class="checkmark"></span></label>
</div>


<div class="form-group"><i class="" aria-hidden="true"></i><label class="question"> Question:</label><input class="form-control" name="question" value='Phone Number:' type="text" required>
  <label class="i">Text<input  type="radio" name="radio3" value="text" class="heya"><span class="checkmark"></span></label>
  <label class="i">Email<input type="radio" name="radio3" value="email" class="heya"><span class="checkmark"></span></label>
  <label class="i">Number<input checked type="radio" name="radio3" value="number" class="heya"><span class="checkmark"></span></label>
</div>


<div class="form-group"><i class="" aria-hidden="true"></i><label class="question"> Question:</label><input class="form-control" name="question" value='Comments or Suggestion:' type="text" required>
  <label class="i">Text<input  checked type="radio" name="radio4" value="text" class="heya"><span class="checkmark"></span></label>
  <label class="i">Email<input type="radio" name="radio4" value="email" class="heya"><span class="checkmark"></span></label>
  <label class="i">Number<input  type="radio" name="radio4" value="number" class="heya"><span class="checkmark"></span></label>
</div>


    <button type="submit" onclick="c()" id="btn" style="display:block;" class="btn btn-dark">Make</button>
  </form>
</div>
